{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <script src="https://kit.fontawesome.com/104c210297.js" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
    <main>
        <div class="content-wrapper">
            <div class="main-content">
                {% block content %}
                {% endblock %}

                {% if request.user.is_authenticated %}
                <div class="nav-buttons">
                    <button class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        <a href="{% url 'index' %}">Inicial</a>
                    </button>
                    <button class="{% if request.resolver_match.url_name == 'fornecedores' %}active{% endif %}">
                        <a href="{% url 'fornecedores' %}">Fornecedores</a>
                    </button>
                    <button class="{% if request.resolver_match.url_name == 'categorias' %}active{% endif %}">
                        <a href="{% url 'categorias' %}">Categorias</a>
                    </button>
                    <form method="post" action="{% url "logout" %}">
                        {% csrf_token %}
                        <button type="submit">Sair</button>
                    </form>
                </div>
                <div class="nav-buttons">
                    <button class="{% if request.resolver_match.url_name == 'cadastrar_produto' %}active{% endif %}">
                        <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>
                    </button>
                    <button class="{% if request.resolver_match.url_name == 'cadastrar_fornecedor' %}active{% endif %}">
                        <a href="{% url 'cadastrar_fornecedor' %}">Cadastrar Fornecedor</a>
                    </button>
                    <button class="{% if request.resolver_match.url_name == 'cadastrar_categoria' %}active{% endif %}">
                        <a href="{% url 'cadastrar_categoria' %}">Cadastrar Categoria</a>
                    </button>
                </div>
            </div>
            {% endif %}
            {% block filtros %}
            {% endblock %}
        </div>
    </main>
</body>
</html>