{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <title>Categorias</title>
{% endblock %}

{% block content %}
    <div id="box">
        <h1>Produtos da categoria {{ categoria.nome }}</h1>
        {% for produto in produtos %}
            <div class="item-card">
                <p>{{ produto.nome }}</p>
                <a href="{% url 'details' produto.id %}">Ver Detalhes</a>
            </div>
        {% empty %}
            <p>Não há produtos cadastrados para esta categoria.</p>
        {% endfor %}
    </div>
    <div class="nav-buttons">
        <button><a href="{% url 'index' %}">Inicial</a></button>
        <button><a href="{% url 'categorias' %}">Categorias</a></button>
    </div>
{% endblock %}