{% extends 'core/base.html' %}
{% load static %}
{% load preserve_url %}

{% block css %}
    <title>Resultados</title>
{% endblock %}

{% block content %}
    <div id="main-box">
        <div class="main-header">
            <h1>Resultados</h1>
        </div>
        {% for resultado in resultados %}
            <div id="produto-box">
                <p>{{ resultado }}</p>
                <div class="button-container">
                   <button>
                        <a href="{% url 'details' resultado.id %}" style="text-decoration: none;">Detalhes</a>
                    </button>
                    <button>
                        <a href="{% url 'deletar_produto' resultado.id %}" style="text-decoration: none;">Deletar</a>
                    </button>
                </div>
            </div>
        {% empty %}
            <p>Nenhum produto encontrado.</p>
        {% endfor %}

        {% if page_obj.has_previous %}
            <a href="?{% preserve_url pagina=1 %}"><i class="page-icon fa-solid fa-angles-left"></i></a>
            <a href="?{% preserve_url pagina=page_obj.previous_page_number %}"><i class="page-icon fa-solid fa-arrow-left"></i></a>
        {% endif %}

        <span>
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% preserve_url pagina=page_obj.next_page_number %}"><i class="page-icon fa-solid fa-arrow-right"></i></a>
            <a href="?{% preserve_url pagina=page_obj.paginator.num_pages %}"><i class="page-icon fa-solid fa-angles-right"></i></a>
        {% endif %}
        
    </div>
{% endblock %}

{% block filtros %}
    <div class="filter-card">
        <h2>Filtros</h2>
        <form action="{% url 'resultado_pesquisa' %}" method="get">
            <div class="filter-group">
                <label for="search-input">Buscar por nome:</label>
                <input name="q" type="text" id="search-input" placeholder="Digite o nome do produto" value="{{ request.GET.q }}">
            </div>
            <div class="filter-group">
                <label>Faixa de preço:</label>
                <input type="number" name="preco_min" placeholder="Preço mínimo" step="0.01" value="{{ request.GET.preco_min }}">
                <input type="number" name="preco_max" placeholder="Preço máximo" step="0.01" value="{{ request.GET.preco_max }}">
            </div>
            <div class="filter-group">
                <button id="filter-button" type="submit">Aplicar Filtros</button>
            </div>
        </form>
    </div>
{% endblock %}